
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "Bibliothèque" %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/fill/style.css">
    <link rel="stylesheet" href={% static "css/output.css" %}>
  {% block extra_head %}{% endblock %}
</head>
<body>
    {% block main_layout %}
        <!-- Sera surchargé par les sous-squelettes -->
    {% endblock main_layout %}


  {% block extra_js %}{% endblock %}
</body>
</html>
